<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.1.0" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.1.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net45" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="3.4.17280.14430" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="3.4.17280.14430" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock" version="3.4.17280.14430" targetFramework="net45" />
  <package id="Xceed.Wpf.Toolkit" version="3.4.17280.14430" targetFramework="net45" />
</packages>