[submodule "sub-modules/Ntreev.Library"]
	path = sub-modules/Ntreev.Library
	url = ../Ntreev.Library.git
[submodule "sub-modules/Ntreev.ModernUI.Framework"]
	path = sub-modules/Ntreev.ModernUI.Framework
	url = ../Ntreev.ModernUI.Framework.git
[submodule "sub-modules/Ntreev.Library.Commands"]
	path = sub-modules/Ntreev.Library.Commands
	url = ../CommandLineParser.git
[submodule ".\\sub-modules\\GraphQL"]
	path = .\\sub-modules\\GraphQL
	url = https://github.com/graphql-dotnet/graphql-dotnet
[submodule ".\\sub-modules\\GraphQL-Parser"]
	path = .\\sub-modules\\GraphQL-Parser
	url = https://github.com/graphql-dotnet/parser
