# git ignore file
bin/
obj/
Debug/
Release/
packages/
crema_repo/
node.js/
TestResults/
*.suo
*.tmp_proj
.ntvs_analysis.dat
*.user
*.sdf
*.opensdf
*.diagsession
/*.vspx
*.VC.db
*.VC.VC.opendb
*.bat
/.gitattributes
/version.txt
/bin/git/
*.opendb
/.vs/tools/v15
/bin/git/
/repo
/.vs
/UpgradeLog3.htm
/vscode/typescript/sample/*.js
/vscode/typescript/sample/*.js.map
/cpp/.vs
/cpp/Ntreev.Crema.Reader/lib
/*.cremaresx
/*.htm
