<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRuntimeService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IDescriptorService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4004/RuntimeService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRuntimeService" contract="ServiceClient.IRuntimeService"
                name="NetTcpBinding_IRuntimeService" />
            <endpoint address="net.tcp://localhost:4004/DescriptorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDescriptorService"
                contract="DescriptorService.IDescriptorService" name="NetTcpBinding_IDescriptorService" />
        </client>
    </system.serviceModel>
</configuration>