[Unit]
Description=cremaserver

[Service]
ExecStart=/bin/sh cremaservice-daemon.sh start {repo-dir}
ExecStopPost=/bin/rm -f /tmp/cremaservice.exe.lock
Restart=always
SyslogIdentifier=cremaserver
WorkingDirectory={pwd}

[Install]
WantedBy=multi-user.target