<?xml version="1.0" encoding="utf-8" ?>
<!--
Sample license text.
-->
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDataBaseCollectionService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IDataBaseService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDescriptorService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDomainService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDomainService1">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4004/DataBaseCollectionService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataBaseCollectionService"
                contract="DataBaseCollectionService.IDataBaseCollectionService"
                name="NetTcpBinding_IDataBaseCollectionService" />
            <endpoint address="net.tcp://localhost:4004/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="UserService.IUserService"
                name="NetTcpBinding_IUserService" />
            <endpoint address="net.tcp://localhost:4004/DescriptorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDescriptorService"
                contract="DescriptorService.IDescriptorService" name="NetTcpBinding_IDescriptorService" />
            <endpoint address="net.tcp://localhost:4004/DataBaseService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataBaseService"
                contract="DataBaseService.IDataBaseService" name="NetTcpBinding_IDataBaseService" />
            <endpoint address="net.tcp://localhost:4004/DomainService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDomainService" contract="DomainService.IDomainService"
                name="NetTcpBinding_IDomainService" />
        </client>
    </system.serviceModel>
</configuration>