<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<packages>
  <package id="ClosedXML" version="0.87.1" targetFramework="net45" />
  <package id="CsvHelper" version="12.2.1" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>