<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDescriptorService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4004/DescriptorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDescriptorService"
                contract="DescriptorService.IDescriptorService" name="NetTcpBinding_IDescriptorService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
