<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.1.0" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.1.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net45" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net45" />
  <package id="Xceed.Wpf.Toolkit" version="3.4.17280.14430" targetFramework="net45" />
</packages>